<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<div class="container">
    <div class="container">
        <%- include ('../partials/PDFViewer.ejs') %>
        <%- include ('../partials/chat.ejs') %>
    </div>
  </div>

<%- include ('../partials/footer') %>