<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<div id="container">
    <div id="pdf-container">
      <%- include ('../partials/PDFViewer.ejs') %>
    </div>
    <div id = "text-container">
      <%- include ('../partials/chat.ejs') %>
    </div>
</div>




<%- include ('../partials/footer') %>