<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<div class="container">
    <div class="outer">
      <div class="left-box">
        <%- include ('../partials/PDFViewer.ejs') %>
      </div>
      <div class="right-box">
        <%- include ('../partials/chat.ejs') %>
      </div>
    </div>
  </div>

<%- include ('../partials/footer') %>